@color: #9C266A;
@color2: #955283;
@color3: #8B8FA5;
@color4: #AED8BB;
@color5: #FAF2C4;

@candidatewidth: 350px;
#header {
    color: @color;
}

h1 {
    color: @color;
}

.candidates {
    float: left;
    width: @candidatewidth;
    padding: 10px;
}

.candidateitem {
    width: @candidatewidth;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-style: dashed;
}

.solutions {
    float: right;
    width: 350px;
    padding: 10px;
}

.solutionitem {
    width: @candidatewidth;
    background: @color3;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 840px;
}

.ball {
   width: 10px;
   height: 10px;
   border-radius: 10px;
   background: @color4;
   padding: 10px;
   margin-right: 10px;
}

.selected_for_join {
   border-radius: 10px;
   margin-right: 10px;
   border-style: line;
   border-color: @color
}
